*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
.idea
.DS_Store
*.pyc
.sonar

#######################
#porduct-iots
#######################
modules/integration/tests-integration/src/test/resources/client/modules/addressing-1.6.1-wso2v22.mar
modules/integration/tests-iot-web-ui/src/test/resources/client/modules/addressing-1.6.1-wso2v22.mar